<h2>Books gestion</h2>
<section class="main">

    <section class="book">
      <div *ngFor="let book of listBooks" class="container">
        <h1>{{ book.title }}</h1>
        <img [src]="imgPath + book.cover" />
        <input type="file" class="file-input" (change)="recupImg($event)" #fileUpload >

<div class="file-upload">
    <button class="show"
      (click)="fileUpload.click()"> Update image
    </button>
    <button (click)="updateCover(book.id)">Up</button>
</div>
        <h3 *ngFor="let n of book.authors">Authors : {{ n.name }}</h3>
        <p>Price : {{ book.price }}$</p>
        <button routerLink="/gestion/gestionbooks/update/{{book.id}}">Update</button>
        <button (click)="deleteBook(book.id)">Delete</button>
      </div>
    </section>
    <div class="add">
      <button><a routerLink="/gestion/gestionbooks/create">Add book</a></button>
    </div>

</section>




