<h2>Books per categories</h2>

<main>
    <div>
        <h3>Available categories</h3>
        <ul>
            <li *ngFor="let cate of listCategorie" (click)="selectCategorie(cate.id)">{{cate.name}}</li>
            
        </ul>
    </div>
    
    <section>
    
    
    
        <div *ngFor="let book of listToShow" class="container">
            <h1>{{book.title}}</h1>
            <img [src]="imgPath + book.cover" />
           
            <p>Price : {{book.price}}$</p>
            <button *ngIf="token" (click)="addToCartShop(book.id)">Add to cart shop</button>
          </div>
        </section>
    </main>
