h2 {
  text-align: center;
}

div.form {
  width: 350px;
  height: 350px;
  margin: auto;
  border: solid black 3px;
  background: #000;
  color: whitesmoke;
  -webkit-box-shadow: -14px -8px 39px 3px rgba(0,0,0,0.69);
  -moz-box-shadow: -14px -8px 39px 3px rgba(0,0,0,0.69);
  box-shadow: -14px -8px 39px 3px rgba(0,0,0,0.69);
}

form {
  margin: auto;
  width: 220px;
  font-size: 1.1rem;
}
#birtdate {
  width: 170px;
}

form > button {
  margin-top: 15px;
  width: 100px;
}

.error {
  color: red;
}
