h3 {
    text-align: center;
}

section {
    width: 320px;
    height: auto;
    margin: auto;
    display: flex;
  
    flex-direction: column;
    border: solid black 3px;
    background: #000;
    color: whitesmoke;
    -webkit-box-shadow: -14px -8px 39px 3px rgba(0,0,0,0.69);
    -moz-box-shadow: -14px -8px 39px 3px rgba(0,0,0,0.69);
    box-shadow: -14px -8px 39px 3px rgba(0,0,0,0.69);
  }
  
  form {
    margin: 15px auto;
    // width: 220px;
    font-size: 1.1rem;
  }

  form > button {
    margin-top: 5px;
    margin-left: 65px;
    width: 100px;
  }

  ul {
  
    width: 100px;
    margin: -15px 57px auto 40px
  }

  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
    background-color: rgb(211, 175, 16);
  }

  button {
    background-color: rgb(139, 103, 26); /* Couleur de fond */
    border: none; /* Pas de bordure */
    color: white; /* Couleur du texte */
    padding: 5px; /* Espace interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Pas de décoration de texte */
    display: inline-block; /* Affichage en bloc */
    font-size: 15px; /* Taille de police */
    margin: 4px 2px; /* Marge externe */
    cursor: pointer; /* Curseur de souris */
    border-radius: 8px; /* Rayon de bordure */
  }