$delete-red: red;

main {
    display: flex;
    justify-content: center;
  
}
.container {
  max-width: 300px; /* Ajustez la largeur de votre choix */
  margin: 10px 10px 10px 10px; /* Centre le contenu */
  text-align: center; /* Centre le titre */
}

img {
  max-width: 300px; /* Assure que l'image ne dépasse pas la largeur de la container */
  min-height: 300px;
  max-height: 300px;
  height: auto; /* Maintient le ratio d'aspect de l'image */
  display: block; /* Supprime les marges par défaut */
  margin: auto /* Centre l'image et ajoute une marge en dessous */
}
h2 {
  text-align: center;
}

h1 {
  font-size: 32px; /* Ajustez la taille de votre choix */
  margin-bottom: 20px; /* Ajoute une marge en dessous du titre */
}

p {
  font-size: 16px; /* Ajustez la taille de votre choix */
  line-height: 1.5; /* Ajustez l'interligne de votre choix */
  margin-bottom: 20px; /* Ajoute une marge en dessous des paragraphes */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  background: #000;
  color: azure;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

ul {
    text-align: center;
    list-style: none; /* supprime les puces par défaut */
    padding: 0; /* supprime le padding par défaut */
    width: 100px;
    margin: 0; /* supprime la marge par défaut */
    background: #130d0d;
    color: rgb(139, 103, 26);;
  }
  
  li {
    padding: 10px; /* ajoute un padding pour l'apparence */
    border: 1px solid rgb(139, 103, 26); /* ajoute une bordure en bas pour chaque élément */
    cursor: pointer;
  }

  p {
    color: red;
    font-size: 16px;
  }

  p.success {
    color: greenyellow;
    font-size: 16px;

  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
  }
  
  button {
    background-color: rgb(80, 75, 65); /* Couleur de fond */
    border: none; /* Pas de bordure */
    color: white; /* Couleur du texte */
    padding: 5px 10px; /* Espace interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Pas de décoration de texte */
    display: inline-block; /* Affichage en bloc */
    font-size: 16px; /* Taille de police */
    margin: 4px 2px; /* Marge externe */
    cursor: pointer; /* Curseur de souris */
    border-radius: 8px; /* Rayon de bordure */
  }

  .add{
    width: 50px;
    padding: 5px 10px;;
    margin-left: 2px;
    margin-top: -10px;
    background: rgb(80, 75, 65);
    font-size: 16px;
  }

  .btn {
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid lighten(gray, 24%);
    height: 25px;
    padding:2px;
    letter-spacing: .25px;
    border-radius: 15px;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }
    
    .mdi {
      margin-right: 1px;
    }
  }
  
  .btn-delete {
    font-size: 16px;
    color: red;
    background-color: #000;
    
    >.mdi-delete-empty {
      display: none;
    }
    
    &:hover {
      background-color: lighten(red, 48%);
      
      >.mdi-delete-empty {
        display: block;
      }
      
      >.mdi-delete {
        display: none;
      }
    }
    
  
    
    &:focus {
      box-shadow: 0 0 0 4px lighten(red, 40%);
    }
  }

  .perso {
    position: absolute;
    left: 100px;
    margin-top: -25px;
    
  }

  

  

  
