<nav *ngIf="isAdmin && isConnected">
    <h2>Gestion</h2>
    <ul>
        <li><a routerLink="">Gestion books</a></li>
        <li><a routerLink=""> Gestion Authors</a></li>
        <li><a routerLink=""> Gestion categories</a></li>
        <li><a routerLink=""> Gestion users</a></li>
        <li><a routerLink=""> Gestion orders</a></li>
        <li *ngIf="!isConnected"><a routerLink="/login"> Log in</a></li>
        <li *ngIf="isConnected === true"><a routerLink="/"> Log out</a></li>

    </ul>
    <button type="submit" (click)=" switch()">Switch to member mode</button>
</nav>

<nav *ngIf="!isAdmin">
    <h2>Membre</h2>
    <ul>
        <li><a routerLink="">Books</a></li>
        <li><a routerLink="">Authors</a></li>
        <li><a routerLink="">Categories</a></li>
        <li><a routerLink="">My profile</a></li>
        <li><a routerLink=""> My orders</a></li>
        <li *ngIf="!isConnected"><a routerLink="/login"> Log in</a></li>
        <li *ngIf="isConnected === true"><a routerLink="/"> Log out</a></li>

    </ul>
    <button type="submit" >Switch to admin mode</button>

</nav>