<!-- <nav *ngIf="isAdmin && isConnected">
    <h2>Gestion</h2>
    <ul>
        <li><a routerLink="">Gestion books</a></li>
        <li><a routerLink=""> Gestion Authors</a></li>
        <li><a routerLink=""> Gestion categories</a></li>
        <li><a routerLink=""> Gestion users</a></li>
        <li><a routerLink=""> Gestion orders</a></li>
        <li *ngIf="!isConnected"><a routerLink="/login"> Log in</a></li>
        <li *ngIf="isConnected === true"><a routerLink="/"> Log out</a></li>

    </ul>
    <button type="submit" (click)=" switch()">Switch to member mode</button>
</nav>

<nav *ngIf="!isAdmin">
    <h2>Membre</h2>
    <ul>
        <li><a routerLink="">Books</a></li>
        <li><a routerLink="">Authors</a></li>
        <li><a routerLink="">Categories</a></li>
        <li><a routerLink="">My profile</a></li>
        <li><a routerLink=""> My orders</a></li>
        <li *ngIf="!isConnected"><a routerLink="/login"> Log in</a></li>
        <li *ngIf="isConnected === true"><a routerLink="/"> Log out</a></li>

    </ul>
    <button type="submit" >Switch to admin mode</button>

</nav> -->
<nav >
  <div class="navbar" *ngIf="role === 'Admin'">
    
    <a (click)="isActive('books')" [ngClass]="whereWeAre === 'books' ? 'active' : null " routerLink="/gestion/gestionbooks">Gestion books</a>
    <a (click)="isActive('authors')" [ngClass]="whereWeAre === 'authors' ? 'active' : null " routerLink="/authors">Gestion authors</a>
    <a (click)="isActive('categories')" [ngClass]="whereWeAre === 'categories' ? 'active' : null " routerLink="/gestion/gestioncategories">Gestion categories</a>
    <a (click)="isActive('users')" [ngClass]="whereWeAre === 'users' ? 'active' : null " routerLink="/gestion/gestionusers">Gestion users</a>
    <a (click)="isActive('orders')" [ngClass]="whereWeAre === 'orders' ? 'active' : null " routerLink="/gestion/gestionorders">Gestion orders</a>
    <a (click)="isActive('profile')" [ngClass]="whereWeAre === 'profile' ? 'active' : null " routerLink="/profil/{{id}}">My profile</a>
    <a (click)="isActive('login')" [ngClass]="whereWeAre === 'login' ? 'active' : null " id="login" routerLink="/login" *ngIf="!token">Log in</a>
    <a (click)="isActive('logout')" [ngClass]="whereWeAre === 'logout' ? 'active' : null " id="logout" routerLink="/books" *ngIf="token" (click)="disconnect()">Log out</a>
    <div *ngIf="token" class="img">
      <img  [src]="imgPath + avatar">
    </div>
  </div>
</nav>

<nav>
  <div class="navbar" *ngIf="role !== 'Admin' || !token">
   
    <a (click)="isActive('books')" [ngClass]="whereWeAre === 'books' ? 'active' : null " routerLink="/books">All availables books</a>
    <a (click)="isActive('authors')" [ngClass]="whereWeAre === 'authors' ? 'active' : null " routerLink="/authors">Authors</a>
    <a (click)="isActive('categories')" [ngClass]="whereWeAre === 'categories' ? 'active' : null " routerLink="/categories">Categories</a>
    <a (click)="isActive('profile')" [ngClass]="whereWeAre === 'profile' ? 'active' : null " routerLink="/profil/{{id}}">My profile</a>
    <a (click)="isActive('order')" [ngClass]="whereWeAre === 'order' ? 'active' : null " routerLink="">My orders</a>
    
    <a (click)="isActive('login')" [ngClass]="whereWeAre === 'login' ? 'active' : null "  id="login" routerLink="/login" *ngIf="!token">Log in</a>
    <a (click)="isActive('register')" [ngClass]="whereWeAre === 'register' ? 'active' : null "  id="register" routerLink="/register" *ngIf="!token">Register</a>
    <a id="logout" *ngIf="token" (click)="disconnect()" routerLink="/books">Log out</a>
    <div *ngIf="token" class="img">
      <img [src]="imgPath + avatar">
    </div>
  </div>
</nav>


