<nav *ngIf="isAdmin">
    <h2>Gestion</h2>
    <ul>
        <li><a routerLink="">Gestion books</a></li>
        <li><a routerLink=""> Gestion Authors</a></li>
        <li><a routerLink=""> Gestion categories</a></li>
        <li><a routerLink=""> Gestion users</a></li>
        <li><a routerLink=""> Gestion orders</a></li>

    </ul>
    <button type="submit" (click)=" connect()">Switch to member mode</button>
</nav>

<nav *ngIf="!isAdmin">
    <h2>Membre</h2>
    <ul>
        <li><a routerLink="">Books</a></li>
        <li><a routerLink="">Authors</a></li>
        <li><a routerLink="">Categories</a></li>
        <li><a routerLink="">Users</a></li>
        <li><a routerLink="">Orders</a></li>

    </ul>
    <button type="submit" (click)=" disconnect()">Switch to admin mode</button>

</nav>