<h3>Every users in DB </h3>

<div class="contact">
    <div *ngFor="let user of userList" class="contact-info"  [appGestionUserColor]="user.role">
      <div class="img">
        <img [src]="imgPath + user.avatar">
      </div>
        <h2>User ID : {{user.id}}</h2>
        <p><strong>Name : </strong> {{user.name}}</p>
        <p><strong>Surname :</strong> {{user.surname}}</p>
        <p><strong>Adresse :</strong> {{user.adresse}}</p>
        <p><strong>Email :</strong> {{user.email}}</p>
        <p><strong>Phone number :</strong> {{user.phonenumber}}</p>
        <p><strong>Role :</strong> {{user.role}}</p>
        <button class="btn" (click)="deleteUser(user.id)">X</button>
      </div>
</div>