p {
    font-size: 20px; /* Ajustez la taille de votre choix */
    line-height: 1.5; /* Ajustez l'interligne de votre choix */
    margin-bottom: 20px; /* Ajoute une marge en dessous des paragraphes */
    color: chocolate;
  }